
@{
    ViewBag.Title = "Wycieczki";
}
<br />
<center>
    <font size="1" color="red">
        <b>Na potrzeby przetestowania strony zostały utworzone dwa konta.</b><br />
        Administrator systemu (login: admin | hasło: admin)<br />
        Użytkownik uwierzytelniony (login: user | hasło: user)<br />
    </font>
    <div id="opis_strona">
        <h2><b><font color="green">Wycieczki-History</font></b> - To strona dla osób lubiących dzielić się historią własnych wycieczek. <b><font color="green">Wycieczki-History</font></b> została stworzona w celu gromadzenia dużej historii wycieczek w jednym miejscu. W każdym wpisie możemy dodać własne zdjęcia i plik wideo z podróży. </h2>
    </div>
</center>
<div id="cele">
    <center><h3><font color="orange">Nasze cele:</font></h3></center>
    <font size="4">
        <ul>
            <li>
                Zgromadzenie dużej ilości zdjęć z wędrówek.
            </li>
            <li>
                Zgromadzenie dużej ilości filmów z wędrówek.
            </li>
            <li>Poznanie miejsc wartych odwiedzenia</li>
            <li>Pomoc w przewidzeniu czasu trwania podróży</li>
            <li>Pomoc w przewidzeniu długości wędrówki</li>
            <li>Prowadzenie grup wsparcia dla rodzin osób zaginionych.</li>
        </ul>
    </font>
</div>
<div id="dane_kontakt">
    <center>
        <h3><font color="red">Dane kontaktowe:</font></h3>
        <font size="3">
            <br />
            <b>ADRES KORESPONDENCYJNY</b><br />
            Wycieczki-History<br />
            skr.pocztowa xxx<br />
            00-958 Warszawa <br />
            UWAGA! Prosimy nie wysyłać przesyłek pocztą kurierską na adres skrytki pocztowej.<br />
            <br />
            <b>KONTAKT</b><br />
            22 654 70 70 - z telefonów stacjonarnych w Polsce<br />
            +48 22 654 70 70 – dla połączeń z zagranicy<br />
            +48 22 654 70 70 – dla połączeń z telefonu komórkowego<br />
        </font>
        <br />
    </center>
</div>
<div id="mapa_kotakt">
    <center>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.674935463501!2d20.98775261576268!3d52.24928776400855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc7893fef3ad%3A0x9e084209594a5b38!2sWarszawska%20Wy%C5%BCsza%20Szko%C5%82a%20Informatyki!5e0!3m2!1spl!2spl!4v1585479992287!5m2!1spl!2spl" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </center>
</div>



